<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h1>Team Name: <%= %></h1>
   <p>Coach: <%= %></p>
   <p>Point Guard: <%= %></p>
   <p>Coach: <%= %></p>
   <p>Coach: <%= %></p>
   <p>Coach: <%= %></p>
   <p>Coach: <%= %></p>
   <p>Coach: <%= %></p>
   
 </body>
</html>


